/*COMMON*/
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  text-decoration: none;
  display: inline-block;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0;
  padding: 0 40px;
  font-size: 16px;
  height: 55px;
  line-height: 55px;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-out 0s;
  background-color: #E84E4E;
}

.main-btn:hover {
  background-color: #ff6b6b;
  color: #fff;
}

input:active {
  border: 2px solid white !important;
}
